VITE_AUTHENTIK_ISSUER=https://auth.slaksis.com/application/o/sga-renacer/
VITE_AUTHENTIK_CLIENT_ID=pega-aqui-el-client-id-publico
VITE_AUTHENTIK_REDIRECT_URI=http://localhost:5173/callback
VITE_AUTHENTIK_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
VITE_AUTHENTIK_SCOPE=openid profile email
