VITE_AUTHENTIK_ISSUER=https://auth.slaksis.com/application/o/sga-renacer/
VITE_AUTHENTIK_CLIENT_ID=pega-aqui-el-client-id-publico
VITE_PUBLIC_APP_URL=https://sga.familiarenacer.cl
VITE_AUTHENTIK_REDIRECT_URI=https://sga.familiarenacer.cl/callback
VITE_AUTHENTIK_POST_LOGOUT_REDIRECT_URI=https://sga.familiarenacer.cl
VITE_AUTHENTIK_SCOPE=openid profile email
VITE_AUTHENTIK_ADMIN_TOKEN=token-limitado-para-administrar-usuarios
VITE_AUTHENTIK_MEMBER_GROUP=renacer-miembros
VITE_AUTHENTIK_ADMIN_GROUP=renacer-admin
VITE_AUTHENTIK_GATE_ADMIN_GROUP=renacer-puerta
VITE_AUTHENTIK_USER_PATH=renacer
AUTHENTIK_PROXY_TARGET=https://auth.slaksis.com
